.banner-group-with-title-container {
  align-items: center;
  flex-flow: column;
  display: flex;
  gap: 23px;
}

.banner-group-with-title__title {
  border-bottom: 1px solid $color-c-3;
  padding: 0 32.5px 16px;
}

.banner-group__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 16px;
}

.banner-group__list__item {
  img {
    border-radius: 6px;
  }
  &--2,
  &--3 {
    img {
      border-radius: 6px;
    }
    width: 100%;

    img {
      height: auto;
      width: 100%;
    }
  }
}
