.footer-main-content {
  background-color: gray;
  padding: 23px 16px;

  .container {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
}

.footer-main-content__about-box {
  max-width: 433px;
  display: flex;
  gap: 12px;
}

.footer-legal-info {
  background-color: #cecece;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  display: flex;
}

.footer-menu {
  flex-flow: column;
  display: flex;
  gap: 16px;
}
