.footer-main-content {
  background-color: $primary-dark-700;
  padding: 23px 16px;

  .container {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
}

.footer-main-content__about-box {
  max-width: 433px;
  display: flex;
  gap: 12px;
}

.footer-legal-info {
  background-color: $primary-pure-500;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  display: flex;
}

.footer-menu {
  flex-flow: column;
  display: flex;
  gap: 16px;
}

.footer-main-content__about-box__text {
  @include text(16px, $white, 400);
}


.footer-menu__item {
  @include text(16px, $white, 400);

  &:first-child {
    font-weight: 700;
  }
}

.footer-legal-info__text{
  @include text(16px, $white, 400);
}