.header-container {
  background-color: $white;
  margin-bottom: 60px;
}

.sticky0 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.top-bar {
  background-color: $primary-pure-500;

  span {
    @extend %text1;
  }
}

.top-bar__text-list__item {
  text-align: center;
  display: none;

  &.slick-slide {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
  }
}

.header-main-content__inner-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.header-menu {
  background-color: $primary-pure-500;
}

.header-menu__inner__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.container {
  @extend %container;
}

.header-main-content__inner-container.container {
  padding: 10px 16px;
  gap: 16px;
}

.search-bar {
  flex-grow: 1;
  max-width: 609.77px;
}

.search-bar-inner {
  @extend %border;
  background-color: $text-light-200;
  display: flex;
  height: 40px;
}

.search-bar__input-box {
  @extend %border;
  border-radius: 6px 0 0 6px;
  background-color: $text-light-200;
  padding: 0 8px;
  flex-grow: 1;
  border: none;

  &::placeholder {
    @extend %text2;
  }
}

.search-bar__submit-button {
  @extend %resetbutton;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  width: 40px;

  .material-symbols-outlined {
    color: $text-dark-400;
  }
}

.header-actions {
  display: flex;
  gap: 16px;
}

.header-actions__shortcut {
  @extend %text3;
  align-items: center;
  display: flex;
  gap: 4px;
}

.header-actions__minicart {
  @extend %resetbutton;
  position: relative;
  cursor: pointer;
}

.cart-qtt {
  background-color: $primary-pure-500;
  position: absolute;
  border-radius: 100%;
  padding: 1px 6px;
  color: white;
  right: -6px;
  top: -6px;
}

.header-menu__inner {
  padding: 10px 16px;
}

.header-menu__inner__list__item__link {
  @extend %text1;
}

.checkout-progress {
  align-items: center;
  flex-flow: column;
  display: flex;
  gap: 8px;

  label {
    
  }
}

///////////////
/// WEBKIT ///
/////////////

progress {
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, $primary-pure-500, $secondary-dark-700);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

//////////////////////
/// END OF WEBKIT ///
////////////////////

//////////////
// FIREFOX //
////////////

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 250px;
  height: 20px;
}

progress::-moz-progress-bar {
  background-image: -moz-linear-gradient(
      135deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -moz-linear-gradient(left, $primary-pure-500, $secondary-dark-700);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/////////////////////
// END OF FIREFOX //
///////////////////
