.minicart-drawer {
  transform: translateX(100%);
  transition: all 0.3s ease;
  background-color: white;
  position: fixed;
  flex-flow: column;
  max-width: 360px;
  display: flex;
  height: 100vh;
  z-index: 5;
  right: 0;
  top: 0;

  &.open {
    transform: translate3d(0px, 0px, 0px);
  }
}

.minicart-drawer__header {
  border-bottom: 1px solid $color-c-3;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 12px;
  display: flex;
}

.minicart-drawer__header__title {
  @include text(18px, $primary-pure-500, 700);
}

.minicart-drawer__header__close {
  @extend %resetbutton;
}

.minicart-drawer__product-list {
  padding: 0 12px;
  overflow: auto;
  flex-grow: 1;
}

.minicart-drawer__product-list__item {
  border-bottom: 1px solid $color-c-3;
  padding: 12px 0;
  display: flex;
  gap: 8px;
}

.product-img--medium {
  border: 1px solid $high-dark;
}

.minicart-drawer__product-list__infos {
  justify-content: space-between;
  padding-bottom: 12px;
  flex-flow: column;
  display: flex;
}

.product-name--2-lines {
  @include text(14px, $text-pure-500, 400);
  @include multiline-ellipsis(14px, 1.1, 2);
  max-width: 106.4px;
  width: 106.4px;
}

.minicart-drawer__product-list__infos__price {
  @include text(14px, $black, 700);
}

.minicart-drawer__product-list__actions {
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 12px;
  flex-flow: column;
  display: flex;
}

.action-remove {
  @extend %resetbutton;
  display: flex;

  &:hover {
    filter: brightness(1.5);
  }

  .material-symbols-outlined {
    color: $cta-pure-500;
  }
}

.minicart-drawer__footer {
  border-top: 1px solid;
  flex-flow: column;
  display: flex;
  flex-shrink: 0;
  padding: 12px;
  gap: 16px;
}

.minicart-drawer__footer__total {
  justify-content: space-between;
  display: flex;

  span {
    @include text(16px, $black, 700);
  }
}

.minicart-drawer__footer__info {
  @include text(16px, $text-dark-400, 400);
  justify-content: center;
  display: flex;
}
