.pdp-container {
}

.pdp-main-content {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  gap: 60px;
}

.pdp-main-content__img {
  border-radius: 6px;
  flex-shrink: 1;
  width: 50%;
}

.pdp-main-content__info-area {
  height: fit-content;
  flex-flow: column;
  position: sticky;
  flex-shrink: 0;
  display: flex;
  flex-grow: 1;
  top: 128.4px;
  gap: 32px;
}

.pdp-main-content__info-area__named-id {
  flex-flow: column;
  display: flex;
  gap: 16px;
}

.pdp-main-content__info-area__small {
  flex-flow: column;
  max-width: 310px;
  display: flex;
  gap: 32px;
}

.pdp-main-content__buy-area {
  display: flex;
  gap: 12px;
}

.qtt-input {
  border-radius: 6px;
  border: 1px solid;
  display: flex;
  height: 40px;

  button {
    background-color: transparent;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    display: flex;
    border: none;

    &#minus,
    &#minusc {
      border-right: 1px solid;
    }

    &#plus,
    &#plusc {
      border-left: 1px solid;
    }
  }

  input {
    background-color: transparent;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -moz-appearance: textfield;
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
