.pdp-main-content {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  gap: 60px;
}

.pdp-main-content__img {
  border-radius: 6px;
  flex-shrink: 1;
  width: 50%;
}

.pdp-main-content__info-area {
  height: fit-content;
  flex-flow: column;
  position: sticky;
  max-width: 100%;
  flex-shrink: 1;
  display: flex;
  flex-grow: 1;
  top: 128.4px;
  gap: 32px;
}

.pdp-main-content__info-area__named-id {
  flex-flow: column;
  display: flex;
  gap: 16px;
}

.pdp-main-content__title {
  @include text(32px, $text-pure-500, 700);
  @include multiline-ellipsis(32px, 1.1, 2);
}
.pdp-main-content__id {
  @include text(14px, $text-dark-400, 400);
}

.pdp-main-content__info-area__small {
  flex-flow: column;
  max-width: 310px;
  display: flex;
  gap: 32px;
}

.pdp-main-content__desc__text {
  @include text(16px, $text-pure-500, 400);
  @include multiline-ellipsis(16px, 1.1, 2);
}

.pdp-main-content__see-more {
  @include text(16px, $text-pure-500, 700);
  line-height: 1.5;
}

.pdp-main-content__price {
  @include text(32px, $black, 700);
}

.pdp-main-content__buy-area {
  display: flex;
  gap: 12px;
}

.qtt-input {
  box-shadow: 0 4px 6px 0 #00000015;
  border-radius: 6px;
  border: none;
  display: flex;
  height: 40px;

  button {
    background-color: $secondary-pure-500;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    display: flex;
    border: none;

    &:hover {
      filter: brightness(1.2);
    }

    &#minus,
    &#minusc,
    &#minusa {
      border-radius: 6px 0 0 6px;
    }

    &#plus,
    &#plusc,
    &#plusa {
      border-radius: 0 6px 6px 0;
    }

    .material-symbols-outlined {
      color: $white;
    }
  }

  input {
    @include text(16px, $black, 700);
    background-color: transparent;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -moz-appearance: textfield;
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

.pdp-main-content__buy-button {
  box-shadow: 0 4px 6px 0 #00000015;
}

.pdp-details-area {
  h3 {
    @include text(24px, $text-pure-500, 700);
    margin-bottom: 16px;
  }

  p {
    @include text(16px, $text-pure-500, 400);
  }
}
