.plp-container {
  > div,
  section {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 120px;
    }
  }
}

.bread-crumb-container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 1px;

  span {
    display: flex;
  }

  .home, .term {
    @include text(16px, $text-pure-500, 700);
     a {
      text-decoration: none;
     }
  }

  .material-symbols-outlined{
    color: $text-dark-400;
  }

  .term{
color: $secondary-pure-500;
  }
}

.filters-and-order-by {
  justify-content: flex-start;
  background-color: $high-dark;
  border-radius: 6px;
  padding: 8px 12px;
  flex-wrap: wrap;
  display: flex;
  gap: 32px;
}

.filters-and-order-by__box {
  background-color: white;
  align-items: center;
  border-radius: 6px;
  padding: 0 12px;
  display: flex;
  height: 25px;
  gap: 16px;
  
  label {
    @include text(16px, $text-pure-500, 700);
    padding-bottom: 2px;
  }

  select {
    @include text(16px, $text-dark-400, 700);
    background-color: transparent;
    outline: none;
    display: flex;
    border: none;
  }
}

.result-list {
  grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));
  vertical-align: middle;
  display: grid;
  margin: 0;
  gap: 56px;

  .product-card {
    max-width: unset;
  }
}
