.plp-container {
  > div,
  section {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 120px;
    }
  }
}

.bread-crumb-container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 1px;

  span {
    display: flex;
  }
}

.filters-and-order-by {
  justify-content: flex-start;
  background-color: gray;
  border-radius: 6px;
  padding: 8px 12px;
  flex-wrap: wrap;
  display: flex;
  gap: 32px;
}

.filters-and-order-by__box {
  background-color: white;
  align-items: center;
  border-radius: 6px;
  padding: 0 12px;
  display: flex;
  height: 25px;

  label {
    padding-bottom: 2px;
  }

  select {
    background-color: transparent;
    outline: none;
    display: flex;
    border: none;
  }
}

.result-list {
  grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));
  vertical-align: middle;
  display: grid;
  margin: 0;
  gap: 56px;

  .product-card {
    max-width: unset;
  }
}
