.shelf_title {
  border-bottom: 1px solid $color-c-3;
  padding: 0 32.5px 16px;
  margin: 0 auto 23px;
  width: fit-content;
}

.shelf__list {
  margin: 0 -28px;
}

.shelf__list__item {
  padding: 0 28px;
}
