%container {
  max-width: 1204px;
  padding: 0 16px;
  margin: 0 auto;
}

%border {
  border: none;
  border-radius: 6px;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    border: none;
  }
}

%resetbutton {
  background: none;
  cursor: pointer;
  outline: none;
  display: flex;
  border: none;
  padding: 0;
  margin: 0;

  &:active,
  &:focus,
  &:hover {
    background: none;
    border: none;
  }
}

%text1 {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: $white; 
}

%text2 {
  font-family: "Roboto", sans-serif;
  color: $text-dark-400;
  font-weight: normal;
  font-size: 16px;
}

%text3 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: normal;
  color: #353535;
  font-size: 16px;
}
