<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" type="text/css" href="/src/slick/slick.css" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="top-bar">
      <ul class="top-bar__text-list container">
        <li class="top-bar__text-list__item">
          <span>Lorem ipsum dolor sit amet</span>
        </li>
        <li class="top-bar__text-list__item">
          <span>Lorem ipsum dolor sit amet</span>
        </li>
        <li class="top-bar__text-list__item">
          <span>Lorem ipsum dolor sit amet</span>
        </li>
      </ul>
    </div>
    <header class="header-container sticky0">
      <div class="header-main-content">
        <div class="header-main-content__inner-container container">
          <a href="/templates/index.html">
            <img
              class="header-main-content__inner-container__logo"
              src="https://fakeimg.pl/120x70/"
              alt=""
          /></a>

          <search class="search-bar">
            <form class="search-bar-inner">
              <input
                class="search-bar__input-box"
                type="text"
                id="search"
                name="busca"
                placeholder="O que você procura?"
              />
              <button class="search-bar__submit-button" type="submit">
                <span class="material-symbols-outlined"> search </span>
              </button>
            </form>
          </search>

          <div class="header-actions">
            <a class="header-actions__shortcut" href="/templates/index.html">
              <span class="material-symbols-outlined"> support_agent </span>
              <span>Label</span>
            </a>
            <button
              id="minicartIcon"
              title="minicart"
              class="header-actions__minicart"
            >
              <span id="minicartQtt" class="cart-qtt">0</span>
              <span class="material-symbols-outlined"> shopping_cart </span>
            </button>
          </div>
        </div>
      </div>
      <div class="header-menu">
        <nav class="header-menu__inner container">
          <ul class="header-menu__inner__list">
            <li class="header-menu__inner__list__item">
              <a href="/templates/plp.html" class="header-menu__inner__list__item__link"
                >Departamento</a
              >
            </li>
            <li class="header-menu__inner__list__item">
              <a href="/templates/plp.html" class="header-menu__inner__list__item__link"
                >Departamento</a
              >
            </li>
            <li class="header-menu__inner__list__item">
              <a href="/templates/plp.html" class="header-menu__inner__list__item__link"
                >Departamento</a
              >
            </li>
            <li class="header-menu__inner__list__item">
              <a href="/templates/plp.html" class="header-menu__inner__list__item__link"
                >Departamento</a
              >
            </li>
            <li class="header-menu__inner__list__item">
              <a href="/templates/plp.html" class="header-menu__inner__list__item__link"
                >Departamento</a
              >
            </li>
            <li class="header-menu__inner__list__item">
              <a href="/templates/plp.html" class="header-menu__inner__list__item__link"
                >Departamento</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="home-container container" style="width: 100%">
      <section class="banner-slider" style="width: 100%">
        <ul class="banner-slider__list" style="width: 100%">
          <li class="banner-slider__list__item">
            <img
              class="banner-slider__list__item__img"
              src="https://fakeimg.pl/1172x364/"
              alt=""
            />
          </li>
          <li class="banner-slider__list__item">
            <img
              class="banner-slider__list__item__img"
              src="https://fakeimg.pl/1172x364/"
              alt=""
            />
          </li>
          <li class="banner-slider__list__item">
            <img
              class="banner-slider__list__item__img"
              src="https://fakeimg.pl/1172x364/"
              alt=""
            />
          </li>
          <li class="banner-slider__list__item">
            <img
              class="banner-slider__list__item__img"
              src="https://fakeimg.pl/1172x364/"
              alt=""
            />
          </li>
        </ul>
      </section>

      <section class="tip-bar-container">
        <ul class="tip-bar__list">
          <li class="tip-bar__list__item">
            <img src="https://fakeimg.pl/48x48/" alt="" />
            <spam>Label em duas linhas</spam>
          </li>
          <li class="tip-bar__list__item">
            <img src="https://fakeimg.pl/48x48/" alt="" />
            <spam>Label em duas linhas</spam>
          </li>
          <li class="tip-bar__list__item">
            <img src="https://fakeimg.pl/48x48/" alt="" />
            <spam>Label em duas linhas</spam>
          </li>
          <li class="tip-bar__list__item">
            <img src="https://fakeimg.pl/48x48/" alt="" />
            <spam>Label em duas linhas</spam>
          </li>
          <li class="tip-bar__list__item">
            <img src="https://fakeimg.pl/48x48/" alt="" />
            <spam>Label em duas linhas</spam>
          </li>
        </ul>
      </section>

      <section class="banner-group-container">
        <ul class="banner-group__list">
          <li class="banner-group__list__item">
            <img src="https://fakeimg.pl/232x360/" alt="" />
          </li>
          <li class="banner-group__list__item">
            <img src="https://fakeimg.pl/232x360/" alt="" />
          </li>
          <li class="banner-group__list__item">
            <img src="https://fakeimg.pl/232x360/" alt="" />
          </li>
          <li class="banner-group__list__item">
            <img src="https://fakeimg.pl/232x360/" alt="" />
          </li>
        </ul>
      </section>

      <section class="shelf-container">
        <h3 class="shelf_title title">Title</h3>
        <ul class="shelf__list shelf__list-1">
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="banner-group-container banner-group-container--2">
        <ul class="banner-group__list banner-group__list--2">
          <li
            class="banner-group-with-title__list__item banner-group__list__item--2"
          >
            <img src="https://fakeimg.pl/578x320/" alt="" />
          </li>
          <li
            class="banner-group-with-title__list__item banner-group__list__item--2"
          >
            <img src="https://fakeimg.pl/578x320/" alt="" />
          </li>
        </ul>
      </section>

      <section class="banner-group-with-title-container">
        <h3 class="banner-group-with-title__title title">Title</h3>
        <ul class="banner-group__list banner-group-with-title__list">
          <li class="banner-group-with-title__list__item">
            <img src="https://fakeimg.pl/169x100/" alt="" />
          </li>
          <li class="banner-group-with-title__list__item">
            <img src="https://fakeimg.pl/169x100/" alt="" />
          </li>
          <li class="banner-group-with-title__list__item">
            <img src="https://fakeimg.pl/169x100/" alt="" />
          </li>
          <li class="banner-group-with-title__list__item">
            <img src="https://fakeimg.pl/169x100/" alt="" />
          </li>
          <li class="banner-group-with-title__list__item">
            <img src="https://fakeimg.pl/169x100/" alt="" />
          </li>
          <li class="banner-group-with-title__list__item">
            <img src="https://fakeimg.pl/169x100/" alt="" />
          </li>
        </ul>
      </section>

      <section class="shelf-container-2">
        <h3 class="shelf_title title">Title</h3>
        <ul class="shelf__list shelf__list-2">
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="banner-group-container banner-group-container--3">
        <ul class="banner-group__list banner-group__list--3">
          <li
            class="banner-group-with-title__list__item banner-group__list__item--3"
          >
            <img src="https://fakeimg.pl/1172x360/" alt="" />
          </li>
        </ul>
      </section>

      <section class="shelf-container-3">
        <h3 class="shelf_title title">Title</h3>
        <ul class="shelf__list shelf__list-3">
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
          <li class="shelf__list__item">
            <div class="product-card">
              <a class="product-card__link" href="/templates/index.html"></a>
              <div class="product-card__image">
                <img
                  src="https://fakeimg.pl/227x227/"
                  alt=""
                  class="product-card__image__image"
                />
              </div>
              <div class="product-card__content">
                <h4 class="product-card__content__title">
                  product name (max 2 lines)
                </h4>
                <span class="product-card__content__price">R$ 000,00</span>
                <a
                  class="cta product-card__content__buy-button"
                  href="/templates/pdp.html"
                  >CTA</a
                >
              </div>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <footer class="footer-container">
      <div class="footer-main-content">
        <div class="footer-main-content container">
          <div class="footer-main-content__about-box">
            <img
              src="https://fakeimg.pl/120x70/"
              alt=""
              class="footer-main-content__about-box__logo"
            />
            <p class="footer-main-content__about-box__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium non purus id suscipit.
            </p>
          </div>
          <ul class="footer-menu footer-menu--1">
            <li class="footer-menu__item">Menu</li>
            <li class="footer-menu__item">Menu Item</li>
            <li class="footer-menu__item">Menu Item</li>
            <li class="footer-menu__item">Menu Item</li>
          </ul>

          <ul class="footer-menu footer-menu--2">
            <li class="footer-menu__item">Menu</li>
            <li class="footer-menu__item">Menu Item</li>
            <li class="footer-menu__item">Menu Item</li>
            <li class="footer-menu__item">Menu Item</li>
          </ul>
        </div>
      </div>

      <div class="footer-legal-info">
        <div class="container">
          <p class="footer-legal-info__text">Informação de desenvolvimento</p>
        </div>
      </div>
    </footer>

    <div id="minicartDrawer" class="minicart-drawer dn">
      <div class="minicart-drawer__header">
        <p class="minicart-drawer__header__title">Meu carrinho</p>
        <button id="minicartClose" class="minicart-drawer__header__close">
          <span class="material-symbols-outlined"> close </span>
        </button>
      </div>

      <ul id="minicartList" class="minicart-drawer__product-list">
        <li class="minicart-drawer__product-list__item">
          <img
            class="product-img--small"
            src="https://fakeimg.pl/100x100/"
            alt=""
          />
          <div class="minicart-drawer__product-list__infos">
            <span class="product-name--2-lines"
              >Nome do produto em até duas linhas</span
            >

            <span class="minicart-drawer__product-list__infos__price"
              >R$ 000,00</span
            >
          </div>

          <div class="minicart-drawer__product-list__actions">
            <button class="action-remove">
              <span class="material-symbols-outlined"> delete </span>
            </button>

            <div class="qtt-input">
              <button id="minusc">
                <span class="material-symbols-outlined"> remove </span>
              </button>
              <input type="number" value="1" id="inputc" minlength="1" />
              <button id="plusc">
                <span class="material-symbols-outlined"> add </span>
              </button>
            </div>
          </div>
        </li>
      </ul>

      <div class="minicart-drawer__footer">
        <div class="minicart-drawer__footer__total">
          <span class="minicart-drawer__footer__total">Total:</span>
          <span class="minicart-drawer__footer__total">R$ 000,00</span>
        </div>

        <p class="minicart-drawer__footer__info">
          Entrega e taxas serão calculadas no checkout
        </p>

        <a class="minicart-drawer__footer__cta1 cta" href="/templates/checkout/cart.html"
          >Finalizar compra</a
        >
        <button
          id="minicartCloseButton"
          class="minicart-drawer__footer__cta2 cta cta2"
        >
          <span class="material-symbols-outlined"> arrow_back </span> Continuar
          comprando
        </button>
      </div>
    </div>

    <div id="bgLock" class="bg-lock dn"></div>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script type="text/javascript" src="/src/slick/slick.min.js"></script>
    <script src="/js/slick-initializer.js"></script>
    <script src="/js/base-script.js"></script>
  </body>
</html>
