.container {
  max-width: 1172px;
  padding: 0 16px;
  margin: 0 auto;
}

.banner-slider__list__item__img, .search-bar__input-box, .search-bar-inner {
  border: none;
  border-radius: 6px;
}
.banner-slider__list__item__img:active, .search-bar__input-box:active, .search-bar-inner:active, .banner-slider__list__item__img:focus, .search-bar__input-box:focus, .search-bar-inner:focus, .banner-slider__list__item__img:hover, .search-bar__input-box:hover, .search-bar-inner:hover {
  outline: none;
  border: none;
}

.action-remove, .minicart-drawer__header__close, .slick-dots li button, .header-actions__minicart, .search-bar__submit-button {
  background: none;
  cursor: pointer;
  outline: none;
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
}
.action-remove:active, .minicart-drawer__header__close:active, .slick-dots li button:active, .header-actions__minicart:active, .search-bar__submit-button:active, .action-remove:focus, .minicart-drawer__header__close:focus, .slick-dots li button:focus, .header-actions__minicart:focus, .search-bar__submit-button:focus, .action-remove:hover, .minicart-drawer__header__close:hover, .slick-dots li button:hover, .header-actions__minicart:hover, .search-bar__submit-button:hover {
  background: none;
  border: none;
}

.header-menu__inner__list__item__link, .top-bar span {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.search-bar__input-box::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: normal;
  font-size: 16px;
}

.search-bar__input-box::placeholder {
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: normal;
  font-size: 16px;
}

.header-actions__shortcut {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: normal;
  color: #353535;
  font-size: 16px;
}

html {
  background-color: #F7F7F7;
  scroll-padding: 128.4px;
  scroll-behavior: smooth;
}

body {
  scroll-padding: 128.4px;
  position: relative;
  overflow-x: hidden;
}

body * {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  color: #353535;
}

.home-container > div,
.home-container section,
.pdp-container > div,
.pdp-container section {
  margin-bottom: 60px;
}
.home-container > div:last-child,
.home-container section:last-child,
.pdp-container > div:last-child,
.pdp-container section:last-child {
  margin-bottom: 120px;
}

.bg-lock {
  background-color: rgba(0, 0, 0, 0.3137254902);
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 4;
  left: 0;
  top: 0;
}

.dn {
  display: none;
}

.df {
  display: flex;
}

.cta {
  background-color: #00c29a;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  border: none;
  height: 40px;
  width: 100%;
}
.cta.product-card__content__buy-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  z-index: 1;
}
.cta:hover {
  opacity: 0.85;
}
.cta2 {
  background-color: transparent;
  border: 1px solid #00c29a;
  color: #00c29a;
  gap: 16px;
}
.cta2:hover {
  opacity: 0.7;
}
.cta2 span {
  color: #00c29a;
}

.slick-arrow .material-symbols-outlined {
  color: #00529E;
}

.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  color: #353535;
  line-height: 1;
}

.header-container {
  background-color: #ffffff;
  margin-bottom: 60px;
}

.sticky0 {
  position: sticky;
  z-index: 2;
  top: 0;
}

.top-bar {
  background-color: #00529E;
}
.top-bar__text-list__item {
  text-align: center;
  display: none;
}
.top-bar__text-list__item.slick-slide {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
}

.header-main-content__inner-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.header-menu {
  background-color: #00529E;
}

.header-menu__inner__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.header-main-content__inner-container.container {
  padding: 10px 16px;
  gap: 16px;
}

.search-bar {
  flex-grow: 1;
  max-width: 609.77px;
}

.search-bar-inner {
  background-color: #e2e2e2;
  display: flex;
  height: 40px;
}

.search-bar__input-box {
  border-radius: 6px 0 0 6px;
  background-color: #e2e2e2;
  padding: 0 8px;
  flex-grow: 1;
  border: none;
}
.search-bar__submit-button {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  width: 40px;
}
.search-bar__submit-button .material-symbols-outlined {
  color: #777777;
}

.header-actions {
  display: flex;
  gap: 16px;
}

.header-actions__shortcut {
  align-items: center;
  display: flex;
  gap: 4px;
}

.header-actions__minicart {
  position: relative;
  cursor: pointer;
}

.cart-qtt {
  background-color: #00529E;
  position: absolute;
  border-radius: 100%;
  padding: 1px 6px;
  color: white;
  right: -6px;
  top: -6px;
}

.header-menu__inner {
  padding: 10px 16px;
}

.banner-slider {
  margin-bottom: 60px;
}

.banner-slider__list__item {
  display: none;
}

.banner-slider__list__item__img {
  height: auto;
  width: 100%;
}

.slick-dots {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 8px;
  gap: 8px;
}
.slick-dots li button {
  border: 1px solid #00529E;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0;
  width: 16px;
  height: 4px;
}
.slick-dots li button:active, .slick-dots li button:focus, .slick-dots li button:hover {
  border: 1px solid #00529E;
}
.slick-dots li.slick-active button {
  background-color: #00529E;
}

.slick-arrow {
  justify-content: center;
  top: calc(50% - 20px);
  border-radius: 100%;
  align-items: center;
  position: absolute;
  cursor: pointer;
  display: flex;
  border: none;
  height: 40px;
  width: 40px;
  z-index: 1;
  margin: 0 16px;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}

.footer-main-content {
  background-color: #003566;
  padding: 23px 16px;
}
.footer-main-content .container {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-main-content__about-box {
  max-width: 433px;
  display: flex;
  gap: 12px;
}

.footer-legal-info {
  background-color: #00529E;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  display: flex;
}

.footer-menu {
  flex-flow: column;
  display: flex;
  gap: 16px;
}

.footer-main-content__about-box__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.footer-menu__item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.footer-menu__item:first-child {
  font-weight: 700;
}

.footer-legal-info__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.tip-bar__list {
  justify-content: space-between;
  display: flex;
}

.tip-bar__list__item {
  justify-content: flex-start;
  align-items: center;
  max-width: 146px;
  display: flex;
  gap: 16px;
}
.tip-bar__list__item spam {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #353535;
}

.banner-group-with-title-container {
  align-items: center;
  flex-flow: column;
  display: flex;
  gap: 23px;
}

.banner-group-with-title__title {
  border-bottom: 1px solid #CFCFCF;
  padding: 0 32.5px 16px;
}

.banner-group__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 16px;
}

.banner-group__list__item img {
  border-radius: 6px;
}
.banner-group__list__item--2, .banner-group__list__item--3 {
  width: 100%;
}
.banner-group__list__item--2 img, .banner-group__list__item--3 img {
  border-radius: 6px;
}
.banner-group__list__item--2 img, .banner-group__list__item--3 img {
  height: auto;
  width: 100%;
}

.product-card {
  background-color: #E3E4EA;
  position: relative;
  border-radius: 6px;
  flex-flow: column;
  max-width: 259px;
  padding: 12px;
  display: flex;
  gap: 12px;
}

.product-card__link {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.product-card__image__image {
  border-radius: 3px;
  height: auto;
  width: 100%;
}

.product-card__content {
  flex-flow: column;
  display: flex;
  gap: 27px;
}

.product-card__content__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #353535;
  background: transparent;
  display: block;
  display: -webkit-box;
  max-height: 39.6px;
  font-size: 18px;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  min-height: 39.6px;
}

.product-card__content__price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.shelf_title {
  border-bottom: 1px solid #CFCFCF;
  padding: 0 32.5px 16px;
  margin: 0 auto 23px;
  width: -moz-fit-content;
  width: fit-content;
}

.shelf__list {
  margin: 0 -28px;
}

.shelf__list__item {
  padding: 0 28px;
}

.pdp-main-content {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  gap: 60px;
}

.pdp-main-content__img {
  border-radius: 6px;
  flex-shrink: 1;
  width: 50%;
}

.pdp-main-content__info-area {
  height: -moz-fit-content;
  height: fit-content;
  flex-flow: column;
  position: sticky;
  max-width: 100%;
  flex-shrink: 1;
  display: flex;
  flex-grow: 1;
  top: 128.4px;
  gap: 32px;
}

.pdp-main-content__info-area__named-id {
  flex-flow: column;
  display: flex;
  gap: 16px;
}

.pdp-main-content__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  color: #353535;
  background: transparent;
  display: block;
  display: -webkit-box;
  max-height: 70.4px;
  font-size: 32px;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
}

.pdp-main-content__id {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}

.pdp-main-content__info-area__small {
  flex-flow: column;
  max-width: 310px;
  display: flex;
  gap: 32px;
}

.pdp-main-content__desc__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #353535;
  background: transparent;
  display: block;
  display: -webkit-box;
  max-height: 35.2px;
  font-size: 16px;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
}

.pdp-main-content__see-more {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #353535;
  line-height: 1.5;
}

.pdp-main-content__price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  color: #000;
}

.pdp-main-content__buy-area {
  display: flex;
  gap: 12px;
}

.qtt-input {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.0823529412);
  border-radius: 6px;
  border: none;
  display: flex;
  height: 40px;
}
.qtt-input button {
  background-color: #002A52;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  display: flex;
  border: none;
}
.qtt-input button:hover {
  filter: brightness(1.2);
}
.qtt-input button#minus, .qtt-input button#minusc, .qtt-input button#minusa {
  border-radius: 6px 0 0 6px;
}
.qtt-input button#plus, .qtt-input button#plusc, .qtt-input button#plusa {
  border-radius: 0 6px 6px 0;
}
.qtt-input button .material-symbols-outlined {
  color: #ffffff;
}
.qtt-input input {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #000;
  background-color: transparent;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
}
.qtt-input input::-webkit-outer-spin-button, .qtt-input input::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.pdp-main-content__buy-button {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.0823529412);
}

.pdp-details-area h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  color: #353535;
  margin-bottom: 16px;
}
.pdp-details-area p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #353535;
}

.plp-container > div,
.plp-container section {
  margin-bottom: 16px;
}
.plp-container > div:last-child,
.plp-container section:last-child {
  margin-bottom: 120px;
}

.bread-crumb-container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 1px;
}
.bread-crumb-container span {
  display: flex;
}
.bread-crumb-container .home, .bread-crumb-container .term {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #353535;
}
.bread-crumb-container .home a, .bread-crumb-container .term a {
  text-decoration: none;
}
.bread-crumb-container .material-symbols-outlined {
  color: #777777;
}
.bread-crumb-container .term {
  color: #002A52;
}

.filters-and-order-by {
  justify-content: flex-start;
  background-color: #cccccc;
  border-radius: 6px;
  padding: 8px 12px;
  flex-wrap: wrap;
  display: flex;
  gap: 32px;
}

.filters-and-order-by__box {
  background-color: white;
  align-items: center;
  border-radius: 6px;
  padding: 0 12px;
  display: flex;
  height: 25px;
  gap: 16px;
}
.filters-and-order-by__box label {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #353535;
  padding-bottom: 2px;
}
.filters-and-order-by__box select {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #777777;
  background-color: transparent;
  outline: none;
  display: flex;
  border: none;
}

.result-list {
  grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));
  vertical-align: middle;
  display: grid;
  margin: 0;
  gap: 56px;
}
.result-list .product-card {
  max-width: unset;
}

.minicart-drawer {
  transform: translateX(100%);
  transition: all 0.3s ease;
  background-color: white;
  position: fixed;
  flex-flow: column;
  max-width: 360px;
  display: flex;
  height: 100vh;
  z-index: 5;
  right: 0;
  top: 0;
}
.minicart-drawer.open {
  transform: translate3d(0px, 0px, 0px);
}

.minicart-drawer__header {
  border-bottom: 1px solid #CFCFCF;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 12px;
  display: flex;
}

.minicart-drawer__header__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #00529E;
}

.minicart-drawer__product-list {
  padding: 0 12px;
  overflow: auto;
  flex-grow: 1;
}

.minicart-drawer__product-list__item {
  border-bottom: 1px solid #CFCFCF;
  padding: 12px 0;
  display: flex;
  gap: 8px;
}

.product-img--small {
  border: 1px solid #cccccc;
}

.minicart-drawer__product-list__infos {
  justify-content: space-between;
  padding-bottom: 12px;
  flex-flow: column;
  display: flex;
}

.product-name--2-lines {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #353535;
  background: transparent;
  display: block;
  display: -webkit-box;
  max-height: 30.8px;
  font-size: 14px;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
}

.minicart-drawer__product-list__infos__price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.minicart-drawer__product-list__actions {
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 12px;
  flex-flow: column;
  display: flex;
}

.action-remove {
  display: flex;
}
.action-remove:hover {
  filter: brightness(1.5);
}
.action-remove .material-symbols-outlined {
  color: #E2020A;
}

.minicart-drawer__footer {
  border-top: 1px solid;
  flex-flow: column;
  display: flex;
  flex-shrink: 0;
  padding: 12px;
  gap: 16px;
}

.minicart-drawer__footer__total {
  justify-content: space-between;
  display: flex;
}
.minicart-drawer__footer__total span {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.minicart-drawer__footer__info {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  justify-content: center;
  display: flex;
}

.checkout-container {
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
}

.checkout-container * {
  box-sizing: border-box;
}

.checkout-box {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  background-color: #e2e2e2;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding: 16px 32px;
  border-radius: 6px;
  flex-flow: column;
  display: flex;
  gap: 16px;
}

.checkout-box--left {
  flex-shrink: 1;
  flex-grow: 1;
}

.checkout-box--right {
  position: sticky;
  top: 130.8px;
  flex-shrink: 0;
  width: 351.6px;
}

.checkout-text-1 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #353535;
}

.checkout-product-name {
  background: transparent;
  display: block;
  display: -webkit-box;
  max-height: 35.2px;
  font-size: 16px;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
}

.checkout-product-list {
  flex-flow: column;
  display: flex;
  gap: 8px;
}

.checkout-product-list__item {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 12px 32px;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 32px;
}

.checkout-img-and-title {
  display: flex;
  gap: 16px;
}

.checkout-box--left.price {
  white-space: nowrap;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.input-field-1 {
  align-items: flex-start;
  flex-flow: column;
  display: flex;
  width: 100%;
  gap: 8px;
}
.input-field-1 form {
  display: flex;
  gap: 10px;
}
.input-field-1 input {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #777777;
  border-radius: 6px;
  padding: 0 8px;
  outline: none;
  border: none;
  flex-grow: 1;
  height: 40px;
}
.input-field-1 input::-moz-placeholder {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #777777;
}
.input-field-1 input::placeholder {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #777777;
}
.input-field-1 button {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #00c29a;
  background-color: #D9D9D9;
  border-radius: 6px;
  cursor: pointer;
  flex-shrink: 0;
  border: none;
  width: 100px;
  height: 40px;
}
.input-field-1 button:hover {
  filter: brightness(1.05);
}

.detailed-cost {
  border-bottom: 1px solid #CFCFCF;
  padding-bottom: 16px;
  flex-flow: column;
  display: flex;
  width: 100%;
  gap: 12px;
}

.detailed-cost__line {
  justify-content: space-between;
  display: flex;
}
.detailed-cost__line span {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  color: #353535;
}

.total-cost {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.total-cost span {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.cta.checkout {
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.cta2.checkout {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #00c29a;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: 40px;
  width: 100%;
}

.tb {
  color: #000;
}/*# sourceMappingURL=style.css.map */